<h1>Public::Customers#edit</h1>
<p>Find me in app/views/public/customers/edit.html.erb</p>
<h2>会員情報編集</h2>
<%= form_with model: @customer, url: admin_customer_path(@customer.id), method: :patch do |f|%>
<div class="field">
  <%= f.label :last_name %>
  <%= f.text_field :last_name, autofocus: true %>
</div>
<div>
  <%= f.submit '変更を保存' %>
</div>
<% end %>