<h1>Admin::Items#new</h1>
<p>Find me in app/views/admin/items/new.html.erb</p>

<h2>商品新規登録</h2>
    <%= form_with model: @item, url: new_admin_item_path, method: :post do |f| %>
    <div>
      <label>商品画像</label>
      <%= f.file_field :image, accept: "image/*" %>
    </div>
    <div>
      <label>商品名</label>
      <%= f.text_field :name %>
    </div>
    <div>
      <label>商品説明</label>
      <%= f.text_area :introduction %>
    </div>
    <div>
      <label>ジャンル</label>
      <!--<= f.text_field :title, class: "form-control" %>-->
    </div>
    <div>
      <label>税抜価格</label>
      <!--<= f.text_field :title, class: "form-control" %>-->
    </div>
    <div>
      <label>販売ステータス</label>
      <!--<= f.text_field :title, class: "form-control" %>-->
    </div>
    <iv>
    <div>
      <!--<= f.submit '新規登録' %>-->
    </div>
<% end %>