<h1>Admin::Genres#edit</h1>
<p>Find me in app/views/admin/genres/edit.html.erb</p>
<h2>ジャンル編集</h2>
<%= form_with model: @genre, url: admin_path, method: :patch do |f| %>
    <div>
      <label>ジャンル名</label>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.submit '変更を保存' %>
    </div>
<% end %>
