<h1>Admin::Genres#index</h1>
<p>Find me in app/views/admin/genres/index.html.erb</p>

<h2>ジャンル一覧・追加</h2>
<%= form_with model: @genre, method: :post do |f| %>
    <div>
      <label>ジャンル名</label>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.submit '新規登録' %>
    </div>
<% end %>

<table>
  <thead>
    <tr>
      <th>ジャンル</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <% @genres.each do |genre| %>
  <tbody>
    <td><%= genre.name %></td>
    <td>編集する</td>
  </tbody>
  <% end %>
</table>