<div class="row">
  <div class="col-lg-2">
  <!--<div class="col-lg-2" style="border: 1px solid #eee">-->
    <side>
      <h3 style="font-size: 16px; font-weight: bold">ジャンル検索</h3>
      <span>ケーキ</span><br>
      <span>焼き菓子</span><br>
      <span>プリン</span><br>
      <span>キャンディ</span>
    </side>
  </div>

<h2 class="col-lg-10" style="font-size: 20px; font-weight: bold">商品一覧</h2>
<div class="col-lg-10 ml-auto" style="display: flex; justify-content: space-between; flex-wrap: wrap">
  <% @items.each do |item| %>
  <div>
    <div><%= link_to image_tag(item.get_image(150, 150)), item_path(item.id) %></div>
    <div><%= item.name %></div>
    <div>¥<%= item.price %></div>
  </div>
  <% end %>
</div>


</div>